@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Submitted Successfully</h1><br />
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon src="https://cdn.lordicon.com/eiekfffz.json"
                   trigger="loop"
                   delay="2000"
                   style="width:250px;height:250px">
        </lord-icon>
    </div>
    <div class="col-12 text-center" style="color:green">
        <br />
        Thank you for your order! <br />
        We have received your order and we will send a follow up email shortly!
        <br />
        Your Order Number is :@Model
    </div>
</div>