@using EcomWeb1.Utility;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JainFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcomWeb1.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <style>
        .cart-basket {
            font-size: .7rem;
            position: absolute;
            top: -6px;
            right: -5px;
            width: 17px;
            height: 17px;
            color: black;
            background-color: tomato;
            border-radius: 50%;
        }

        footer .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer .icon {
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer .icon > i {
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.2s;
}

footer .icon:hover > i {
    transform: scale(2.2);
    background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .icon::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100%;
    background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
    scale: 1;
    z-index: -1;
    transition: all 300ms ease-out;
}

footer .icon:hover::before {
    scale: 0;
}

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Jain Food</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin) || (User.IsInRole(SD.Role_Employee)))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">Context Management</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="CoverType" asp-action="Index">Cover Type</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Company List</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">User Management</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">Order Management</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">Order</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        }
                        @if (httpContextAccessor.HttpContext.Session.GetInt32(SD.SS_SessionCartCount) != null
                        && httpContextAccessor.HttpContext.Session.GetInt32(SD.SS_SessionCartCount) != 0)
                        {
                            var count = httpContextAccessor.HttpContext.Session.GetInt32(SD.SS_SessionCartCount);
                            <li>
                                <a asp-area="Customers" asp-controller="Cart" asp-action="Index" class="nav-link position-relative d-inline-flex">
                                    <i class="fas fa-shopping-cart" style="color: black; font-size: 1.2rem;"></i>
                                    <span class="cart-basket d-flex align-items-center justify-content-center">
                                        @count
                                    </span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link position-relative d-inline-flex">
                                    <i class="fas fa-shopping-cart" style="color: black; font-size: 1.2rem;"></i>
                                    <span class="cart-basket d-flex align-items-center justify-content-center" style="background-color:antiquewhite">
                                        0
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />
    <footer>
        <section>
            <div class="wrapper">
                <a href="#" class="icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </section>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/carousel.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
